body {
  background-color: gray;
}
.App {
  text-align: center;
  background-color: yellowgreen;
  padding: 20px;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 20px;
}

input.custom {
  padding: 5px;
  color: red;
  font: 16px "Helvetica", "Arial", "sans-serif"
}

.AppButton {
  padding: 10px;
}