<<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
</head>
<body>
    <div class="row">
        <div class="form-group col-md-6 col-lg-6">
            <label for="firstname">First Name:</label>
            <input type="text" class="form-control" id="firstName" placeholder="First Name" name="firstname">
          </div>
    </div>
</body>
</html>